﻿@model Columbus.Playground.Mvc.Models.HomeModel

@{
    ViewBag.Title = Model.Title;
}

<div className="row">
    <div className="col">
        <div className="row">
            <div className="col"><h1>@Model.Title</h1></div>
        </div>
        <div className="row">
            <div className="col"><img src=@Model.ImageUrl /></div>
        </div>
    </div>
</div>
